/**********
http://paletton.com/#uid=14l0u0kijul8pO3dECzmfqoq2lW
**********/

body {
  background-color: #BBAADE;
  font-size: 2em;
}

#wrapper {
  background-color: #6C50A5;
  color: #FFF;
  margin: 30px auto;
}

#headBlock {
  text-align: center;
  height: 100px;
  padding-top: 20px;
}

button {
  background-color: #533690;
  padding: 10px 20px;
  margin: 20px auto;
  border: 2px solid #FFF;
}

#computerQs {
  background-color: #3D2077;
  text-align: center;
  padding: 20px;
}

#reader {
  text-align: center;
  padding: 10px;
  display: none;
}

#gotIt {
  display: none;
}

#playerAs {
  display: none;
  text-align: center;
}
